In [15]:
#1
#indentation
5
2
if 5> 2:
  print("5 is greater than 2")

5 is greater than 2

In [18]:
#2
x="volvo"
print("car name = "+x)

car name = volvo

In [26]:
#3
x = int(50)
print(x)

50

In [27]:
#4
x=10
y=30
print(x+y)

40

In [28]:
#5
x=50
y=100
z=(x+y)
print(z)

150

In [34]:
#6
x="Hello World"
print(type(x))
x=55
print(type(x))
x=100.5
print(type(x))
x=5j
print(type(x))
x=["apple","banana","mango"]
print(type(x))
x=("apple","banana","mango")
print(type(x))
x={"name":"rohan","age":25}
print(type(x))
x = {"apple", "banana", "mango"}
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [46]:
#7
a="This is a python multiline comment"
b=" written in"
c="more that just one line"
print(a, b, c)

This is a python multiline comment  written in more that just one line

In [53]:
#8
#leagle variables
myname="vishu"
print(myname)
#illegal variables
my-name="vishu"
print(my-name)

SyntaxError: ignored

In [54]:
#9
x = "Greetings of the day"
print(len(x))

20

In [56]:
#10
txt = "Hello Netzwerk Academy"
print(txt[0])

H

In [58]:
#11
txt = "Hello Netzwerk Academy"
print(txt[2:4])

ll